{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

  <section class="section">
    <div class="container">

      <h1 class="title">
        Don'EAT
      </h1>
      
      <p class="subtitle">
        Comme 90% des humains, vous avez mal dosé vos pâtes ? Vous avez fait une quiche pour 10 personnes mais vous n'êtes que 2 à la maison ?<br>
        Ne vous en faites pas! Partagez avec les gens du coin!
      </p>
        
    </div>
  </section>

{% endblock %}
