<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Don'EAT</strong> par Karine Spiess.
      <br/>Application développée par <a target="_blank" href="https://phoen-ix.fr">Phoen-IX</a>.
    </p>
  </div>
</footer>