{% extends 'base.html.twig' %}

{% block title %}Les repas proches{% endblock %}

{% block body %}
<div class="container is-fluid">

    <h2 class="title is-2">Les repas près de chez moi</h2>

    <div class="buttons">
        <a href="{{ path('app_meal_create') }}" class="button is-primary">Proposer un repas</a>
        <button class="button is-link">....</button>
    </div>

    {{ component('MealInfinitGrid') }}

</div>
{% endblock %}
