<h1>Hi!</h1>

<p>Votre demande de réservation pour le repas {{ meal.title }} a bien été enregistrée.</p>

<p>Vous pouvez la suivre via le lien : <a href="{{ url('app_book_request') }}">Mes demandes en cours</a></p>

<p>Vous recevrez un mail lorsque le giver aura répondu à votre demande !</p>

<p>Cheers!</p>
