<h1>Hi!</h1>

<p>La demande de réservation pour le repas {{ meal.title }} a été Annulée.</p>

<p>Vous pouvez la suivre via le lien : <a href="{{ url('app_book_request') }}">Mes demandes en cours</a></p>

<p>Cheers!</p>
