<h1>Bonjour</h1>

<p>La demande de réservation pour le repas {{ meal.title }} a été <strong>Refusée</strong>.</p>

<p>Vous pouvez la suivre via le lien : <a href="{{ url('app_book_request') }}">Mes demandes en cours</a></p>

<p>Cheers!</p>

<p>L'équipe de Don'Eat!</p>