{% extends 'content.html.twig' %}

{% block title %}Suppresion utilisateur{% endblock %}

{% block content %}
    
    <h1 class="title is-3 has-text-centered">Supprimer un utilisateur</h1>

    
    <a href="{{ path('app_user') }}" class="button is-info">Annuler</a>


{% endblock %}
